// Variáveis

$grey-light: #eee;
$red: #ef3b39;
$white: #fff;

// Estrutura

body {
    background-color: $grey-light;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 20px;
}

// Elementos

header {
    background-color: $white;
    padding: 10px 0;
    text-align: center;

    img {
        max-width: 160px;
    }
}

h1 {
    color: $red;
    font-size: 30px;
}

.content {
    display: grid;
    grid-gap: 20px;

    .card {
        align-items: center;
        background-color: $white;
        display: flex;
        padding: 20px;
        position: relative;

        & > div:first-child:before,
        & > div:first-child:after,
        & > div:last-child:before,
        & > div:last-child:after {
            background-color: $red;
            content: '';
            position: absolute;
            transition: height .35s ease-in-out, width .35s ease-in-out;
        }
        
        &:hover > div {
            &:first-child:before { width: 100%; }
            &:first-child:after { height: 100%; }
            &:last-child:before { width: 100%; }
            &:last-child:after { height: 100%; }
        }

        & > div:first-child {
        
            &:before {
                height: 1px;
                left: 10px;
                top: 10px;
                width: 0;
            }

            &:after {
                left: 10px;
                top: 10px;
                width: 1px;
                height: 0;
            }

        }

        & > div:last-child {
        
            &:before {
                bottom: -10px;
                height: 1px;
                right: -10px;
                width: 0;
            }

            &:after {
                bottom: -10px;
                height: 0;
                right: -10px;
                width: 1px;
            }

        }

        img {
            border-radius: 50%;
            margin-right: 20px;
            max-width: 100px;
        }
    }

}

@media (min-width: 768px) {

    .content {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1280px) {

    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }

}