body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif; }

.container {
  padding: 0 20px; }

header {
  background-color: #fff;
  padding: 10px 0;
  text-align: center; }
  header img {
    max-width: 160px; }

h1 {
  color: #ef3b39;
  font-size: 30px; }

.content {
  display: grid;
  grid-gap: 20px; }
  .content .card {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 20px;
    position: relative; }
    .content .card > div:first-child:before, .content .card > div:first-child:after, .content .card > div:last-child:before, .content .card > div:last-child:after {
      background-color: #ef3b39;
      content: '';
      position: absolute;
      transition: height .35s ease-in-out, width .35s ease-in-out; }
    .content .card:hover > div:first-child:before {
      width: 100%; }
    .content .card:hover > div:first-child:after {
      height: 100%; }
    .content .card:hover > div:last-child:before {
      width: 100%; }
    .content .card:hover > div:last-child:after {
      height: 100%; }
    .content .card > div:first-child:before {
      height: 1px;
      left: 10px;
      top: 10px;
      width: 0; }
    .content .card > div:first-child:after {
      left: 10px;
      top: 10px;
      width: 1px;
      height: 0; }
    .content .card > div:last-child:before {
      bottom: -10px;
      height: 1px;
      right: -10px;
      width: 0; }
    .content .card > div:last-child:after {
      bottom: -10px;
      height: 0;
      right: -10px;
      width: 1px; }
    .content .card img {
      border-radius: 50%;
      margin-right: 20px;
      max-width: 100px; }

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr; } }
@media (min-width: 1280px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr; } }

/*# sourceMappingURL=style.css.map */
